@media only screen and (max-width: 480px) {
  .l-header {
    height: 8rem;
    margin-bottom: 8rem;

    .c-logo {
      &__image {
        width: 10rem;
      }
    }
  }

  .l-container {
    width: 90%;

    &__illustration {
      width: 100%;
    }
  }

  .l-container--full {
    .l-container__illustration {
      width: 100%;
    }
  }

  .c-nav {
    &__list {
      width: 17rem;
      font-size: 1.4rem;
    }
  }

  .c-section {
    &__title-1 {
      width: 100%;
      padding-top: 5rem;
      font-size: 2.7rem;
    }

    &__text {
      width: 100%;
      font-size: 1.6rem;
    }
  }

  .c-form {
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 12rem;

    &__input::placeholder {
      padding-left: 2rem;
    }

    :nth-child(n) {
      width: 80%;
      padding: 1rem 0;
    }
  }
  .l-container--full {
    width: 100%;

    .c-section {
      &__title-1 {
        padding-top: 5rem;
        font-size: 1.8rem;
      }

      &__text {
        text-align: left;
      }
    }
  }

  .c-how-works {
    font-size: 1.6rem;
  }

  .c-list-link {
    width: 100%;
  }

  .l-container--full-blue {
    .c-section {
      &__title-2 {
        font-size: 2rem;
      }

      &__text {
        text-align: center;
      }
    }
  }
}
