@use "colors";
@use "extends";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%; // 1rem = 10px
}

body {
  @extend %u-display-flex, %u-justify-center, %u-align-center;

  min-height: 100vh;

  font-family: "Open Sans", sans-serif;
  color: colors.$very-dark-blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
}
