@use "../base/colors";
@use "../base/base";

.c-how-works {
  @extend %u-display-flex, %u-align-center, %u-justify-space-between;

  width: fit-content;

  text-decoration: none;
  font-size: 1.8rem;
  color: colors.$moderate-cyan;
  border-bottom: 0.2rem solid colors.$moderate-cyan;

  &__icon {
    padding: 0.5rem;
  }
  &:active {
    color: lighten(colors.$moderate-cyan, 10%);
  }
}
